/**login.html**/
#login {
	margin: 0px;
	padding: 0px;
	background: -webkit-gradient(linear, center top, center bottom, from(#e8f7ff),
		to(#0089d0) );
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}

.login-form .login-ul {
	margin-top: 40px;
	padding: 0px;
	list-style: none;
}

.login-form .login-ul>li {
	display: inline-block;
	width: 100%;
	padding: 15px 20px;
}

.login-form .login-logo {
	display: inline-block;
	margin-bottom: -10px;
}

.login-form .l-checkbox {
	float: left;
	clear: right;
	margin-left: 20px;
	margin-top: -10px;
	margin-bottom: 20px;
	color: rgb(51, 51, 51);
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
}

.login-form .btn-login {
	display: inline-block;
	width: 60%;
}

.login-progress .btn-cancel {
	display: inline-block;
	width: 50%;
	margin-top: 20px;
}

.login-progress {
	width: 88%;
	position: absolute;
	top: 15%;
	left: 6%;
}