html { margin: 0; padding: 0; background: none; }
body {
	margin: 0; padding: 0;
	border:none;
	overflow: hidden;
}
/* * {font-family: "Arial","微软雅黑"; }*/
.clear {clear:both;}

#wrapper { margin: 0px; padding:0; overflow: hidden; border:none; }
/* 被侧滑的主面板 */
#slider {margin:0; padding:0; width:300px; height:445px; overflow:hidden; border:none; position: relative; background: url(../images/slider.png); outline:5px glow #666 0px;}


/* 标题栏 */
#title-drag { -webkit-user-select: none;-webkit-app-region: drag; width:250px;height: 35px;float:left;}
#title-bar {height:35px; margin:0; padding:0; border:none;overflow:hidden; background: #fff; z-index: 9;box-shadow: 1px 2px 2px #ccc;} 
#title-bar span.title { font: system; margin:0; color: #fff; } 
#title-bar #doubanLogo{width:70px; height: 18px; overflow: hidden; position: absolute; top:8px; left: 5px; background: url(../images/logo.png); }

#title-bar .ctrl-bar { position: absolute; top: 0; right: 0; width: 66px; height:35px; flow: horizontal; cursor: default;}
#title-bar .ctrl-bar a , #title-bar .ctrl-bar div { display: block; height: 35px; padding:0; margin: 0; overflow:hidden; float:left;}
.ctrl-bar{margin: 0px 6px;float:right;}


/* 关闭按钮 */
#title-bar a[command=window-close] { width: 22px; background: url(../images/close_a.png) no-repeat; }
#title-bar a[command=window-close]:hover { background: url(../images/close_b.png) no-repeat; transition: blend;}
#title-bar a[command=window-close]:active { background: url(../images/close_c.png) no-repeat; }

/* 最小化按钮 */
#title-bar a[command=window-min] { width: 22px; background: url(../images/min_a.png) no-repeat; }
#title-bar a[command=window-min]:hover { background: url(../images/min_b.png) no-repeat; transition: blend;}
#title-bar a[command=window-min]:active { background: url(../images/min_c.png) no-repeat; }

/* 配置菜单 */
#title-bar a[command=window-cfg] { behavior: popup-menu; width: 22px; background: url(../images/menu_a.png) no-repeat; }
#title-bar a[command=window-cfg]:hover { background: url(../images/menu_b.png) no-repeat; transition: blend;}
#title-bar a[command=window-cfg]:active{ background: url(../images/menu_c.png) no-repeat; }



/*********************************************************************/
.login-box{height:300px;margin:20px 2px 2px 2px;}
.login-left{float:left; margin:20px 0px 0 20px;}
.login-avatar{box-shadow: 0px 0px 10px 3px #ccc; width:100px; height: 100px;}
.login-avatar img {padding: 1px; width:100px; height: 100px;}
.login-right{float:left; margin:20px 0px 0px 20px;}
.login-bottom{margin:0px 0px 0px 10px; text-align:center}
.login-link{float:left; width: 130px;}
.login-link a {font-size:12px;}
.login-button {float:left; width:220px;}
.login-button button{width:100%;}